body {
    font-family: sans-serif;
}

.column {
  float: left;
  margin-right: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h2 {
    margin-bottom: 0px;

h4 {
    margin-top: 40px;
}

.post {
    margin-top: 20px;
    display: block;
    background-color: white;
    width: 500px;
    overflow: auto;
    padding-bottom: 2px;
    border-style: solid;
    border-width: 1px;
}

.info {
    overflow: auto;
    padding-top: -2px;
}

.avatar {
    float:left; 
    display: inline;
    padding-right: 20px;
    padding-top: 5px;
    padding-left: 5px;
    width: 70px;
}

.display_name {
    display: block;
    margin-bottom: 2px;
}

.account_name {
    display: block;
    margin-top: 2px;
}

.content {
    padding: 5px;
}

.original_totals .info {
    background-color: #aad1df;
}

.original_favs .info {
    background-color: #f0c7b8;
}

.original_replies .info {
    background-color: #e4a3fd;
}

.all_totals .info {
    background-color: #fdea92;
}

.all_reblog_phil .info {
    background-color: #b0b1ec;
}

.all_favs_phil .info {
    background-color: #cda5d0;
}

.created_at {
    font-size: small; 
    float: left;
    display: inline;
    padding-left: 5px;
}

.original_url {
    font-size: small; 
    float: right;
    display: inline;
    padding-right: 5px;
}


